/* --- Basis-Styles --- */
* {
    box-sizing: border-box; 
}

body {
    font: 100%/1.3 Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    background: gray;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

#holder {
    background: #BCA9F5;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header {
    background: #7401DF;
    width: 100%;
}

h1, h2, h4 {
    text-shadow: beige 2px 5px 8px;
    padding: 10px;
}

nav {
    text-align: center;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    list-style: none;
}

nav ul li {
    margin: 5px;
}

nav a:link, nav a:visited {
    display: inline-block;
    background-color: #9F81F7;
    border-radius: 0.5em;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    background-image: linear-gradient(#9F81F7, #7401DF);
    white-space: nowrap; 
}

main {
    padding: 20px;
    width: 100%;
}


img {
    max-width: 100%;
    height: auto;
}

.profilbild {
    width: 150px;
    float: left;
    margin: 0 15px 15px 0;
}

/* --- Speziell für das Handy --- */
@media (max-width: 600px) {
    .profilbild, #formular {
        float: none; /* Stoppt das Nebeneinanderstehen auf Handys */
        margin: 10px auto;
        display: block;
    }
    
    #blumenbild {
        margin: 0 auto;
        text-align: center;
    }
}
